strong {
    font-weight: bold; 
}

em {
    font-style: italic; 
}table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}   

th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   


tr:nth-child(odd) td {
    background: #f1f1f1;  
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

/*
=======================================================================================
    UPDATE API FORM
*/
.clientssummarybox {
    z-index: 999999999;
    left: 38%;
    float: left;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    -webkit-background-clip: padding-box;
    width: 36% !important;
    top: 24% !important;
    position: fixed !important;
    padding: 10px !important;
    line-height: 30px !important;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}
.clientssummarybox > form > center:nth-child(1) > span{
    color: #0074a2;
    font-size: 18px;
}

.clientssummarybox > form > div:nth-child(4){
    float: left;
    font-size: 16px;
    color: blueviolet; 
    text-align: right; 
    margin-left: 30px;
}

.clientssummarybox > form > div:nth-child(5){
    float: left;
    margin-left: 20px;
}