.tabs{
	border-bottom:1px solid #ccc;
}
.tabs li{
	display:inline;
}
.tabs ul{
	padding:0;
}
.tab{
	padding:0.5em 1em;
}
.tabs a{
	color:#555;
	font-size:15px;
	background:none repeat scroll 0 0 #e4e4e4;
	border-width:1px 1px medium;
	border-style:solid solid none;
	border-color:#ccc #ccc -moz-use-text-color;
	margin:-4px 4px -1px 0;
}
.tabs a:hover,.tabs a:focus{
	text-decoration:none;
	color:#464646;
	background:none repeat scroll 0 0 #fff;
}

.linksync-main fieldset {
    border: 2px groove threedface;
    margin-top: 20px;
    padding: 20px;
}

.linksync-main legend{
	width:auto;
	margin-bottom:0;
	border:none;
	font-size:14px;
}
.linksync-main select{
	display:inline;
	width:200px;
}

.linksync-main .help-icon {
    margin-bottom: 5px;
    margin-left: 2px;
}

.tab.active{
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid white;
    color: #000;
}

.btn-yes{
    color: green !important;
    width: 90px;
    font-weight: 900;
    float: left;
}


.btn-no{
    color: red !important;
    width: 90px;
    font-weight: 900;
    cursor: pointer;
}

.popup{
	background:rgb(240, 240, 240); 
	border-radius:5px;
	min-width:700px;
	height:auto;
	display:none;
	padding:10px;
}
.popHeader{
    color: #0074a2;
    font-size: 18px;
	text-align:center;
	margin:0;
}

.popup hr{
   border-color: #ddd -moz-use-text-color #fafafa;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
	margin:8px 0;
}

.popup .key {
    color: #0074a2;
    float: left;
    font-size: 14px;
    text-align: right;
}
.popup input[type="text"] {
    margin-left:10px;
}
.closePopupBtn{
    background: none repeat scroll 0 0 #2b91af;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    right: -6px;
    top: -9px;
	border: 1px solid white;
	width:12px;
	height:12px;
}
.closePopupBtn:hover{
	background:black;
}
.closePopupBtn span {
    float: left;
    margin-left: 2px;
    margin-top: -3px;
}
.popup .btn-default{
	background: none repeat scroll 0 0 #f7f7f7;
	box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	border-radius: 3px;
    border-style: solid;
    border-width: 1px;
	font-size: 13px;
    padding:4px 13px;
}
.popup .btn-default:hover{
	 border-color: #999;
} 

.ls-hide{
    display: none;
}

.color-red{
	color: red !important;
}

.color-green{
	color: green !important;
}

.color-dark-blue{
	color: #0074a2 !important;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con,
.ls-loading{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.7;
    background: url(../images/load/loading.gif) center no-repeat rgb(0, 0, 0);
}
label {
    display: inline-block;
    width: 5em;
}

.ls-modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    z-index: 99900;
}

.hide, .close{
    display: none !important;
}

.open{
    display: block;
}

.ls-modal-close-container{
    width: 100%;
}
.ls-modal-close-container > div{
    float: right;
}

.ls-vend-sync-modal-content #estimated_time{
    text-align: left;
    margin-left: 25px;
}

#estimated_time b{
    font-weight: bold;
    color: #d87575;
}

.ls-sync-modal .ui-progressbar,
.ls-vend-sync-modal .ui-progressbar{
    position: relative;
}
.ls-sync-modal .progress-label,
.ls-vend-sync-modal .progress-label {
    position: relative;
    /*right: 38% !important;*/
    top: 1px;
    font-weight: normal;
    text-shadow: none;
    color: #c7c7c7;
    height: 24px;
    font-size: 12px;
}

.ls-sync-modal .ui-widget.ui-widget-content,
.ls-vend-sync-modal .ui-widget.ui-widget-content{
    border: 1px solid #21a54f !important;
}

.ls-sync-modal .ui-widget-header,
.ls-vend-sync-modal .ui-widget-header {
    border: 1px solid #21a54f !important;
    background: #21a54f !important;
    color: #fff !important;
}

.ls-sync-modal .ui-progressbar,
.ls-vend-sync-modal .ui-progressbar {
    height: 23px !important;
    text-align: left !important;
    margin-top: 0px;
}
.ls-sync-modal #progressbar ,
.ls-vend-sync-modal #progressbar {
    width: 450px;
}

.ls-sync-modal .form-holder .a-href-like-button,
.ls-vend-sync-modal .form-holder .a-href-like-button {
    background-color: #347bc1;
    border: none;
    padding: 10px 15px;
    color: #fff;
    float: right;
    cursor: pointer;
    text-decoration: none;
}

.sync-buttons {
    margin: auto;
    width: 220px;
}

.sync-buttons .button {
    margin: 10px;
}

.ls-modal-content,
.ls-pop-ups{
    z-index: 999999999;
    left: 34%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    -webkit-background-clip: padding-box;
    width: 500px !important;
    top: 24% !important;
    position: fixed !important;
    padding: 10px !important;
    display: block;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;

}

.ls-vend-section{
    margin-bottom: 30px;
}

#frmProductSyncingSettings label,
#frmOrderSyncingSettings label{
    width: auto;
}

.ls-wrap{
    margin: 10px 10px 0 10px;
}
/**
    Settings Tab
 */
.ls-tab-menu{
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 0;
    height: 35px;
}
.ls-nav-tab{
    float: left;
    padding: 5px 50px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #555;
    text-decoration: none;
    white-space: nowrap;
}

.ls-nav-tab-active{
    color: #347bc1;
    border-bottom: 3px solid #347bc1;
}


/**
    End Settings Tab
 */

